absl-py==2.0.0
altair==5.2.0
anndata==0.9.2
anyio==4.0.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==23.1.0
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
bleach==6.1.0
cachetools==4.2.4
certifi==2026.2.25
cffi==1.15.1
charset-normalizer==3.4.7
click==8.1.7
colorama==0.4.6
comm==0.1.4
commonmark==0.9.1
contourpy==1.1.1
cryptography==41.0.3
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docker-pycreds==0.4.0
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.18.1
fonttools==4.43.1
fqdn==1.5.1
gast==0.3.3
gensim==4.3.2
gitdb==4.0.11
GitPython==3.1.40
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.20.3
grpcio==1.59.0
h5py==3.7.0
idna==3.11
igraph==0.11.5
igviz==0.5.0
importlib_metadata==8.4.0
importlib_resources==6.4.5
ipykernel==6.26.0
ipython==8.12.3
ipython-genutils==0.2.0
ipywidgets==7.8.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
json5==0.9.14
jsonpickle==4.1.2
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter-events==0.8.0
jupyter-lsp==2.2.0
jupyter_client==8.5.0
jupyter_core==5.5.0
jupyter_server==2.9.1
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.7
jupyterlab_server==2.24.0
kaleido==0.2.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
leidenalg==0.10.2
llvmlite==0.41.1
Markdown==3.5
MarkupSafe==2.1.3
matplotlib==3.6.0
matplotlib-inline==0.1.6
mistune==3.0.2
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.10.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==2.8.7
node2vec==0.4.6
notebook==7.0.6
notebook_shim==0.2.3
numba==0.58.1
numpy==1.23.0
oauthlib==3.2.2
opencv-python==4.5.3.56
openpyxl==3.1.2
opt-einsum==3.3.0
overrides==7.4.0
packaging==23.2
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
pathtools==0.1.2
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pkgutil_resolve_name==1.3.10
platformdirs==3.11.0
plotly==5.18.0
prettytable==3.3.0
prometheus-client==0.17.1
promise==2.3
prompt-toolkit==3.0.39
protobuf==3.20.1
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydotplus==2.0.2
pyg-lib @ file:///root/autodl-tmp/yangchao/pyg_lib-0.4.0%2Bpt113cu116-cp38-cp38-linux_x86_64.whl#sha256=31e4558fd6a407a008d98545e25b90307a7cd12d5eeb830d82d27a8b06fd65a9
Pygments==2.16.1
pynndescent==0.5.13
pyOpenSSL==23.2.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
pytz==2023.3.post1
pyvis==0.3.2
PyYAML==6.0.1
pyzmq==25.1.1
qnorm==0.9.0
referencing==0.30.2
requests==2.32.4
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==12.6.0
rpds-py==0.10.6
rsa==4.9
scanpy==1.9.2
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.11.2
Send2Trash==1.8.2
sentry-sdk==1.32.0
session_info==1.0.0
setproctitle==1.3.3
shortuuid==1.0.11
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
soupsieve==2.5
stack-data==0.6.3
statsmodels==0.14.1
stdlib-list==0.10.0
tenacity==8.2.3
tensorboard==2.2.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
termcolor==2.3.0
terminado==0.17.1
texttable==1.7.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tomli==2.0.1
toolz==1.0.0
torch==1.13.1+cu116
torch-cluster @ file:///root/autodl-tmp/yangchao/torch_cluster-1.6.1%2Bpt113cu116-cp38-cp38-linux_x86_64.whl#sha256=710d0b7c8cfca0af7dd9b7bd71afe4ea9c795804d4c321d6e188e4cb11817ad9
torch-scatter @ file:///root/autodl-tmp/yangchao/torch_scatter-2.1.1%2Bpt113cu116-cp38-cp38-linux_x86_64.whl#sha256=7040f55aad8f2d38d8be83e0f7369045db8bf9f26e3a233cb80545268985c992
torch-sparse @ file:///root/autodl-tmp/yangchao/torch_sparse-0.6.17%2Bpt113cu116-cp38-cp38-linux_x86_64.whl#sha256=40c3f97183f46b90576965e9763e61b9a3fe3132785d99036d5dc3e1b7aff5aa
torch-spline-conv @ file:///root/autodl-tmp/yangchao/torch_spline_conv-1.2.2%2Bpt113cu116-cp38-cp38-linux_x86_64.whl#sha256=00613952c56bd505c85e0a6d2404c4beae38b1e82a6973eda62ff6d56c6e1da1
torch_geometric==2.4.0
torchaudio==0.13.1+cu116
torchvision==0.14.1+cu116
tornado==6.3.3
tqdm==4.64.1
traitlets==5.13.0
types-python-dateutil==2.8.19.14
typing_extensions==4.13.2
umap-learn==0.5.6
uri-template==1.3.0
urllib3==2.2.3
wandb==0.13.7
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
Werkzeug==3.0.1
widgetsnbextension==3.6.6
win-inet-pton==1.1.0
wrapt==1.15.0
zipp==3.17.0
